$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#cr-acct-form {
  width: 500px;
}

#sign-in-form {
  margin-top: 20px;
  width: 500px;
}
